.single_word{
    border: 2px solid;
    width: 80%;
    padding: 10px;
}

ol{
    list-style-position: outside;
}

li{
    margin-bottom: 8px;
    margin-left: 15px;
    padding: 0px;
}

.content{
    width:250px;
    max-height:300px;
    font-size: 100%;
    overflow: scroll;
}

/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
.content::-webkit-scrollbar {
  width: 12px;
  height: 9px;
  background-color: #EACC91; /* or add it to the track */
}
/* Add a thumb */
.content::-webkit-scrollbar-thumb {
    background: orange;
}

.word_name{
    font-size : 1.3rem;
    color : #ED8100;
    font-weight : bold;
}

.word_type{
    font-size: 1rem;
    color: grey;
    margin-left: 5px;
}