.content{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width:250px;
    background-color: #EDEDED;
    padding: 30px;
    border-radius: 5%;
}

.checkbox{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0 1rem 0 0 ;
    position: relative;
    margin-bottom: 15px;
}

.checkbox:before{
    transition: all 0.3s ease-in-out;
    border: 2px solid #2acf06;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    content: "";
    position: absolute;
    left: 0;
}

.checkbox:checked:before{
    transform: rotate(-45deg);
    border-color: #2acf06;
    border-top-style: none;
    border-right-style: none;
    height: 1rem;
}

.checkbox:after{
    content:"";
    position: absolute;
    left:0;
    width: 2rem;
    height: 2rem;
    background: #fff;
    cursor: pointer;
}

#submit{
    margin-top: 10px;
    border:2px solid #2acf06;
    border-radius: 5%;
    box-shadow: 0 3px 3px 0 #444;
    padding: 5px;
    background-color: #2acf06;
    transition: all 0.2s ease-in-out;
    font-size: 1.3rem;
}

#submit:hover{
    box-shadow: 0 5px 5px 0 #444;
    transform: scale(1.05);
}

.words{
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
}

.submitbtn{
    text-align: center;
}